Source: ros-kinetic-genjava
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-catkin-pkg, python-rospkg, ros-kinetic-catkin (>= 0.5.78), ros-kinetic-genmsg, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools
Homepage: http://www.ros.org/wiki/genjava
Standards-Version: 3.9.2

Package: ros-kinetic-genjava
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-catkin-pkg, python-rospkg, ros-kinetic-genmsg, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools
Description: Java ROS message and service generators.
